.env
.env.*
.git
.github
.gitignore
.dockerignore
docker/docker-compose.yml
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.md
infrastructure/
tests/
